/* #Global
================================================== */
.link img {
  margin-right: 0;
  margin-left: .5vw;
  transform: rotate(180deg);
}

.link:hover img {
  -webkit-transform: translateX(0.35vw) rotate(180deg);
  transform: translateX(0.35vw) rotate(180deg);
}

.underline-anim::after {
  transform: translateX(-102%);
}

.jb-black-btn span {
  background-position: right;
  background-size: 6%;
  padding-left: 0;
  padding-right: 0.8rem;
}

.radio_cb .fake_cb {
  margin-left: 0;
  margin-right: 0.71rem;
}

@media (max-width: 1023.98px) {
  .link img {
    height: 2.9vw;
    margin-left: 2vw;
  }

  .link:hover img {
    -webkit-transform: translateX(0) rotate(180deg);
    transform: translateX(0) rotate(180deg);
  }

  .jb-black-btn span {
    padding-left: 0;
    padding-right: 3rem;
  }

  #login-or-subscribe .radio_cb .fake_cb {
    margin-right: 2rem;
    margin-left: 0;
  }
}

/* #Magazine Page
================================================== */
.blog-content .container {
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 1023.98px) {
  .blog-content .container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
  }
}

/* #Magazine Post Page
================================================== */
.article-share {
  flex-direction: row-reverse;
}

@media (max-width: 1023.98px) {
  .more-posts .container {
    margin-left: auto;
    margin-right: 0;
  }

  .more-posts .container .swiper-container .post-info {
    text-align: left;
  }
}

/* #Newsletter
================================================== */
.newsletter .container {
  flex-direction: row-reverse;
}

.newsletter .container form label {
  right: auto;
  left: 0;
}

.newsletter .container form button img {
  transform: rotate(180deg);
}

@media (max-width: 1023.98px) {
  .newsletter .container {
    max-width: 92%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

/* #Footer
================================================== */
.footer .container .footer-top .footer-nav .footer-nav-group:not(:last-child) {
  margin-left: 0;
  margin-right: 6.3vw;
}

.footer .container .footer-bottom p:not(:last-child) {
  margin-left: 0;
  margin-right: 3.3vw;
}

.footer .container .footer-top .footer-nav .footer-nav-group .footer-nav-links li a::after {
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
}

@media (max-width: 1023.98px) {
  .footer .container .footer-top .footer-nav .footer-nav-group:not(:last-child) {
    margin: 0;
  }

  .footer .container .footer-bottom p:not(:last-child) {
    margin-left: 0;
    margin-right: 0;
  }

  .footer .container .footer-top .footer-nav .footer-nav-group .footer-nav-links .title img {
    margin-right: 0;
    margin-left: auto;
  }

  .footer .container .footer-top .footer-logo .footer-social a:not(:last-child) {
    margin-left: 0;
    margin-right: 6.7vw;
  }
}

/* #Hamburger Menu Mobile
================================================== */
.main-menu {
  direction: ltr;
}

li.has_children.opend .sub-menu-title, li.has_children.opend .sub-menu {
  left: auto;
  right: 0;
}

.main-menu > li li.sub-menu-title {
  transition: 500ms right;
  left: auto;
  right: 100%;
}

@media (max-width: 1023.98px) {
  .main-menu-container.on {
    left: auto;
    right: 0;
  }

  .main-menu-container {
    left: auto;
    right: 100%;
    transition: right 500ms;
    will-change: right;
  }

  .main-menu-container .top {
    flex-direction: row;
  }

  .main-menu > li > .sub-menu {
    right: 100%;
    left: auto;
    transition: right 500ms;
  }
}

/* #Search (Part Of The Header)
================================================== */
#search-window #close_search {
  left: auto;
  right: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#search-window #search-field {
  background-position: 100% 70%;
}

/* #Login
================================================== */
#login-or-subscribe > div.jb-login {
  border-left: none;
  border-right: 0.05208rem solid #000;
}

#login-or-subscribe > div.jb-subscribe {
  padding-left: 13.74408%;
  padding-right: 0;
}

#login-or-subscribe .wc-social-login {
  flex-direction: row-reverse;
}

@media (max-width: 1023.98px) {
  #login-or-subscribe > div.jb-login {
    border-right: none;
  }

  #login-or-subscribe > div.jb-subscribe {
    padding-left: 0;
  }
}

/* #Register
================================================== */
.jb-account {
  margin-left: 17.03125rem;
  margin-right: 0;
}

@media (max-width: 1023.98px) {
  .jb-account {
    margin: 10rem auto 0;
  }
}

/* #Account Edit
================================================== */
.personal-update-details .personal-update-details-fields {
  margin-left: 21.77083%;
  margin-right: 4.33177%;
}

@media (max-width: 1023.98px) {
  .personal-update-details .personal-update-details-fields {
    margin: 0 auto;
  }

  .personal-header .h2, .personal-header .p1 {
    text-align: left;
  }
}

/* #Account Orders
================================================== */
.personal-orders table th, 
.personal-orders table td {
  text-align: left;
}

/* #Account View Order
================================================== */
.personal-address {
  width: 56.45833rem;
  margin: 0 auto;
}

.personal-address .personal-address-data > div:first-of-type {
  margin-left: 0;
  margin-right: 6.04167rem;
}

.personal-address .personal-address-data > div .personal-address-data-field.home-address > div:first-of-type {
  margin-left: 0;
  margin-right: 3rem;
}


@media (max-width: 1023.98px) {
  .personal-address {
    width: 91.8rem;
  }

  .personal-address .personal-address-data > div:first-of-type {
    margin-left: initial;
    margin-right: initial;
  }

  .personal-address .personal-address-data > div .personal-address-data-field.home-address > div:first-of-type {
    margin-left: 0;
    margin-right: 6rem;
  }
}

/* #Account Edit Address
================================================== */
.woocommerce-edit-address .jb-account {
  margin-left: 21.5rem;
  margin-right: 0;
}

.jb-account {
  margin-left: 0;
  margin-right: 17.03125rem;
}

@media (max-width: 1023.98px) {
  .woocommerce-edit-address .jb-account {
    margin: 0 auto;
  }
}

/* #Cart Popup
================================================== */
.add-to-cart-fixed #add-to-cart-fixed {
  left: auto;
  right: 0;
  transform: translate(0);
}

#add-to-cart-fixed {
  left: auto;
  right: 0;
  transform: translate(100%);
}

#add-to-cart-fixed .container .cart-top {
  flex-direction: row-reverse;
}

#add-to-cart-fixed .container .cart-top .close-cart-fixed {
  flex-direction: row-reverse;
}

#add-to-cart-fixed .container .cart-products-container .cart-product {
  margin-left: 0;
  margin-right: auto;
  direction: ltr;
}

#add-to-cart-fixed .container .cart-products-container {
  padding-left: 1.64062rem;
  margin-left: 1.64062rem;
  padding-right: 0;
  margin-right: 0;
  direction: rtl;
}

#add-to-cart-fixed .container .cart-bottom button img {
  margin-left: 0.42448rem;
  margin-right: 0;
}

/* #Cart Page
================================================== */
#add-to-cart-fixed.not-fixed {
  right: auto;
  transform: none!important;
}

#add-to-cart-fixed.not-fixed > .container .cart-products-container {
  padding-left: initial;
  margin-left: initial;
}

#add-to-cart-fixed .container .cart-products-container .cart-product .cart-product-bottom .amount div.display-text {
  padding-right: 0.2rem;
  padding-left: 0;
}

@media (max-width: 1023.98px) {
  #add-to-cart-fixed .container .cart-products-container .cart-product {
    margin: 0;
  }
}