/* #Global
================================================== */
.link img {
  margin-right: 0;
  margin-left: .5vw;
  transform: rotate(180deg);
}

.link:hover img {
  -webkit-transform: translateX(0.35vw) rotate(180deg);
  transform: translateX(0.35vw) rotate(180deg);
}

.underline-anim::after {
  transform: translateX(-102%);
}

/* #Magazine Page
================================================== */
.blog-content .container {
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}