/* #Body
================================================== */
body.popup2,
body.search-panel {
  overflow: hidden;
}

/* #Mobile Menu
================================================== */
@media (max-width: 1023.98px) {
  .header {
    z-index: 1000;
  }
}

/* #Popup
================================================== */
#form-popup .form-popup-container {
  height: auto;
}

#form-popup .form-popup-container .form-popup {
  padding: 2vw 0;
}

#form-popup .form-popup-container {
  overflow-y: auto;
}

#form-popup .form-popup-container .form-popup form div.link-container .link {
  color: white;
  padding: 0;
  background-color: transparent;
  border: none;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) > div {
  flex-direction: row;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) > div:nth-child(2) {
  justify-content: flex-end;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) input {
  width: 90%;
}

@media (max-width: 1023.98px) {
  #form-popup {
    height: auto;
    max-height: 85%;
  }

  #form-popup .form-popup-container {
    overflow: visible;
    margin-bottom: 5vw;
  }

  .overlay-container, .overlay-popup-container {
    overflow-y: auto;
    height: 100%;
  }

  #form-popup .form-popup-container .form-popup form div.link-container {
    height: auto;
  }

  #form-popup .form-popup-container .form-popup form div.link-container .link {
    font-size: 4.5333333333rem;
    height: 10.4vw;
  }

  #form-popup .form-popup-container .form-popup form div.link-container .link img {
    height: auto;
    width: 1.5vw;
  }

  #form-popup .form-popup-container .form-popup form div.checkbox {
    margin-bottom: 4vw;
  }

  #product-popup .popup-content-container .p1, 
  #leave-popup .popup-content-container .p1, 
  #insta-popup .popup-content-container .p1 {
    width: 90%;
  }
}

/* #Homepage
================================================== */

/* Header */
@media (max-width: 1023.98px) {
  .home-header #collection-btn {
    color: white;
  }
}

/* Brands */
.home-brands {
  padding-top: 5.5vw;
}

@media (max-width: 1023.98px) {
  .home-brands {
    padding-top: 8.7vw;
  }
}

/* Posts */
.home-posts .container .swiper-container .post-img {
  position: relative;
  padding-top: 100%;
}

.home-posts .container .swiper-container .post-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1023.98px) {
  .home-posts .container {
    margin-left: auto;
    margin-right: 0;
  }
}

/* #Search
================================================== */
#search-window {
  width: auto;
  overflow-x: hidden;
}

#search-window #close_search {
  top: 7rem;
  left: 9rem;
}

@media (max-width: 1023.98px) {
  #search-overlay {
    top: 17rem;
  }

  #search-window {
    height: calc(100vw - 17rem);
    max-height: 100vh;
  }
}

/* #Mobile
================================================== */
.main-menu > li::after {
  display: none;
}

/* #Magazine
================================================== */
.blog-header .container .blog-nav {
  width: auto;
}

.blog-header .container .blog-nav .blog-nav-item:not(:last-child) {
  margin-left: 1.5vw;
}

.article-content img {
  width: 100%;
}

.blog-content .container > div:nth-child(2n+1) {
  bottom: 0rem;
}

@media (max-width: 1023.98px) {
  .blog-header .container .blog-nav .blog-nav-item h5 a {
    font-size: 4.5333333333rem;
  }

  .blog-header .container .blog-nav {
    margin-top: 2vw;
  }

  .blog-header .container .blog-nav .blog-nav-item:not(:last-child) {
    margin-left: 3vw;
  }
}

/* #More Posts
================================================== */
.more-posts .container .swiper-container .post-img {
  position: relative;
  padding-top: 100%;
}

.more-posts .container .swiper-container .post-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #Cart Popup
================================================== */
.overlay-container #add-to-cart-fixed #empaty-cart,
.overlay-container #add-to-cart-fixed #empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-container #add-to-cart-fixed.cart_empty .cart-products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#add-to-cart-fixed #empaty-cart a,
#add-to-cart-fixed #empty-cart a {
  margin-top: 1vw;
}

#add-to-cart-fixed #empaty-cart img,
#add-to-cart-fixed #empty-cart img {
  margin-bottom: 1vw;
}

#add-to-cart-fixed.not-fixed #empaty-cart {
  direction: rtl;
}

.product-add-to-cart .container .add-to-cart a {
  flex-direction: column;
  text-align: center;
}

@media (max-width: 1023.98px) {
  #add-to-cart-fixed #empaty-cart h3,
  #add-to-cart-fixed #empty-cart h3 {
    font-size: 4rem;
  }

  #add-to-cart-fixed #empaty-cart a,
  #add-to-cart-fixed #empty-cart a {
    margin-top: 2.66vw;
  }

  #add-to-cart-fixed #empaty-cart img,
  #add-to-cart-fixed #empty-cart img {
    margin-bottom: 2.66vw;
  }

  #add-to-cart-fixed.not-fixed #empaty-cart {
    padding: 0 4rem;
  }
}

/* #Favourites
================================================== */
@media (max-width: 1023.98px) {
  #sort-container {
    text-align: center;
    margin-bottom: 2.5vw;
  }

  #sort-container .select_menu {
    height: 7rem;
    width: 19rem;
    text-align: right;
  }

  #sort-container span {
    font-size: 4.5333333333rem;
  }
}

/* #Terms of Use
================================================== */
@media (max-width: 1023.98px) {
  .terms-of-use-content h3 {
    font-size: 5rem;
  }
}

/* #404
================================================== */
@media (max-width: 1023.98px) {
  .page-404 .container {
    padding-bottom: 10vw;
  }
}

/* #Collection
================================================== */
.collection-gallery .container .collection-gallery-img img {
  object-fit: cover;
  object-position: center center;
}

/* #Checkbox
================================================== */
.radio_cb input:checked ~ label:before {
  background-color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10' fill='none' %3E %3Cpath stroke='%23ffffff' d='M1 6L4 9L11 1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' %3E %3C/path%3E %3C/svg%3E");
  background-size: .4vw auto;
  background-position: center center;
  background-repeat: no-repeat;
  border-color: black;
}

.radio_cb label:before {
  margin-left: 0.3rem;
  margin-bottom: .25rem;
}

@media (max-width: 1023.98px) {
  .radio_cb label:before {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
  }
  
  .radio_cb input:checked ~ label:before {
    background-size: 2.5vw auto;
  }
}