/* #Popup
================================================== */
body.popup2 {
  overflow: hidden;
}

#form-popup .form-popup-container {
  height: auto;
}

#form-popup .form-popup-container .form-popup {
  padding: 2vw 0;
}

#form-popup .form-popup-container {
  overflow-y: auto;
}

#form-popup .form-popup-container .form-popup form div.link-container .link {
  color: white;
  padding: 0;
  background-color: transparent;
  border: none;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) > div {
  flex-direction: row;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) > div:nth-child(2) {
  justify-content: flex-end;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) input {
  width: 90%;
}

@media (max-width: 1023.98px) {
  #form-popup {
    height: 80%;
    margin-bottom: 5vw;
  }

  #form-popup .form-popup-container {
    overflow: visible;
  }

  .overlay-container, .overlay-popup-container {
    overflow-y: auto;
    padding: 5vw 0;
  }
}