/* #Popup
================================================== */
body.popup2 {
  overflow: hidden;
}

#form-popup .form-popup-container {
  height: auto;
}

#form-popup .form-popup-container .form-popup {
  padding: 2vw 0;
}

#form-popup .form-popup-container {
  overflow-y: auto;
}

#form-popup .form-popup-container .form-popup form div.link-container .link {
  color: white;
  padding: 0;
  background-color: transparent;
  border: none;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) > div {
  flex-direction: row;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) > div:nth-child(2) {
  justify-content: flex-end;
}

#form-popup .form-popup-container .form-popup form div:nth-child(2) input {
  width: 90%;
}

@media (max-width: 1023.98px) {
  #form-popup {
    height: auto;
    max-height: 85%;
  }

  #form-popup .form-popup-container {
    overflow: visible;
    margin-bottom: 5vw;
  }

  .overlay-container, .overlay-popup-container {
    overflow-y: auto;
    height: 100%;
  }

  #form-popup .form-popup-container .form-popup form div.link-container {
    height: auto;
  }

  #form-popup .form-popup-container .form-popup form div.link-container .link {
    font-size: 4.5333333333rem;
    height: 10.4vw;
  }

  #form-popup .form-popup-container .form-popup form div.link-container .link img {
    height: auto;
    width: 1.5vw;
  }

  #form-popup .form-popup-container .form-popup form div.checkbox {
    margin-bottom: 4vw;
  }
}

/* #Homepage
================================================== */

/* Header */
@media (max-width: 1023.98px) {
  .home-header #collection-btn {
    color: white;
  }
}

/* Brands */
.home-brands {
  padding-top: 5.5vw;
}

@media (max-width: 1023.98px) {
  .home-brands {
    padding-top: 8.7vw;
  }
}

/* Posts */
.home-posts .container .swiper-container .post-img {
  position: relative;
  padding-top: 100%;
}

.home-posts .container .swiper-container .post-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #Search
================================================== */
#search-window {
  width: auto;
}